* {
  box-sizing: border-box;
  padding: 0;
}

.container {
  width: 1536px;
  height: 1000px;
  position: relative;
  background: #1a1d2d;
  border-radius: 20px;
  overflow: hidden;
}

.nav {
  left: 72px;
  top: 24px;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 31px;
  display: inline-flex;
}

.chevron {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: flex;
}

.chevron .fa-chevron-left:hover {
  color: #fff;
}

.chevron .fa-chevron-right,
.fa-chevron-left {
  color: #9ca3af;
}

.continue-create {
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  display: flex;
}

.continue-create .home {
  color: #9ca3af;
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
  word-wrap: break-word;
  cursor: pointer;
  text-decoration: none;
}
.continue-create .home:hover {
  color: #fff;
}
.continue-create .create {
  color: #fff;
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
  word-wrap: break-word;
}

.container .imagine {
  width: 684px;
  height: 856px;
  padding: 9px 8px;
  left: 72px;
  top: 72px;
  position: absolute;
  background: #2c314d;
  border-radius: 20px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.container .imagine img {
  width: 684px;
  height: 856px;
  position: relative;
  border: 1px solid #000;
  background: #242940 50% / cover no-repeat;
}

.container .properties-info {
  left: 828px;
  top: 72px;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 406px;
  display: inline-flex;
}

.properties-info .button {
  display: flex;
  align-items: flex-start;
  border-radius: 12px;
  border: 2px solid var(--default-gray-700, #374151);
}

.properties-info .info {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: #252a41;
  color: #ffffff;
}

.properties-info .prop {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  opacity: 0.3;
  background-color: #000;
}

.properties-info .prop a {
  text-decoration: none;
  color: #ffffff;
}

.properties-info .menu {
  justify-content: flex-start;
  align-items: center;
  gap: 399px;
  display: flex;
  cursor: pointer;
}

.menu img {
  padding: 12px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: flex;
}

.container .upload {
  left: 945px;
  top: 320px;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  display: inline-flex;
}

.upload .up {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  display: flex;
}

.up .check {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.upload .line {
  width: 403px;
  height: 0px;
  border: 1px #374151 solid;
}

.check .icon {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  display: flex;
}

.check .this {
  width: 350px;
  height: 41px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: inline-flex;
  text-align: center;
  color: #22c55e;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
  word-wrap: break-word;
}

.this #congrat {
  width: 350px;
  text-align: center;
  color: #d1d5db;
  font-size: 10px;
  font-family: Inter;
  font-weight: 500;
  line-height: 16px;
  word-wrap: break-word;
}

.up .down {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: flex;
}

.down button {
  width: 403px;
  padding: 12px 16px;
  background: #2563eb;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: inline-flex;
  cursor: pointer;
}

.down button #letter {
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: Inter;
  font-weight: 600;
  line-height: 28px;
  word-wrap: break-word;
}

.down button #post {
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: Inter;
  font-weight: 600;
  line-height: 28px;
  word-wrap: break-word;
}

.down button .fa-solid {
  color: #ffffff;
}

.upload .five {
  justify-content: flex-start;
  align-items: flex-end;
  gap: 24px;
  display: inline-flex;
}

.five div .fa-brands {
  width: 40px;
  height: 40px;
  color: #4b5563;
  display: inline-flex;
  gap: 24px;
  padding: 0 0 0 15px;
}
